﻿.custom-jumbo {
    background: transparent linear-gradient(135deg,#FF4E50,#F9D423) repeat scroll 0 0;
    background-image: linear-gradient(135deg,rgb(255,78,80), rgb(249,212,35));
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
    color: white;
    margin-top: 0px;
    border-radius: 0px;
    padding: 150px 0 150px 0;
}
