<div class="jumbotron text-center custom-jumbo">
    <div class="container">
        <h1>Heroes and Villains Ranking</h1>
        <p>Log in to view full ranking and add new heroes and villains</p>
        <button *ngIf="!authService.isAuthenticated()" class="btn btn-primary" (click)="login()">Log in</button>
        <button *ngIf="authService.isAuthenticated()" class="btn btn-primary" (click)="logout()">Log out</button>
    </div>
</div>
<div *ngIf="heroes">
    <div class="col-lg-5 col-lg-offset-1">
        <ranklist [heroes]="heroes"></ranklist>
    </div>

    <div class="col-lg-5">
        <ranklist [heroes]="heroes"></ranklist>
    </div>
</div>